<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
    <key>CFBundleName</key>
    <string>VozLivre</string>
    <key>CFBundleDisplayName</key>
    <string>VozLivre</string>
    <key>CFBundleIdentifier</key>
    <string>com.edneyjunior.vozlivre</string>
    <key>CFBundleExecutable</key>
    <string>VozLivre</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>O VozLivre usa o microfone para transcrever sua fala em texto, localmente no seu Mac.</string>
</dict>
</plist>
